<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zzf4.blog.mapper.ArticleMapper">
    <select id="getArticles" resultType="top.zzf4.blog.entity.model.Articles">
        SELECT id, title, create_time, views, category_id, thumbnail_url, word_num, update_time FROM articles
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>