<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zzf4.blog.mapper.ArticleMapper">
    <insert id="saveArticle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Articles (title,content,category_id,publish_date,update_date,views,word_num,thumbnail_url)
        VALUES (#{title},#{content},#{categoryId},#{publishDate},#{updateDate},#{views},#{wordNum},#{thumbnailUrl})
    </insert>
    <update id="updateArticle" parameterType="top.zzf4.blog.entity.model.Article">
        UPDATE Articles
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="views != null">
                views = #{views},
            </if>
            <if test="wordNum != null">
                word_num = #{wordNum}
            </if>
            <if test="thumbnailUrl != null">
                thumbnail_url = #{thumbnailUrl}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getArticles" resultType="top.zzf4.blog.entity.model.Article">
        SELECT id, title, publish_date, views, category_id, thumbnail_url, word_num FROM articles
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
        </where>
        ORDER BY publish_date DESC
    </select>

</mapper>